@media(max-width: 500px){
    .card{
        width: 90%;
        max-width: 350px;
    }

    main::before{
        height: 500px;
        width: 500px;
        top: -40%;
        left: -45%;
        background-size: contain;
    }

    main::after{
        height: 500px;
        width: 500px;
        bottom: -30%;
        right: -50%;
        transform: rotate(-20deg);
        background-size: contain;
    }
}